/* 
* Styling for GroupedDropdownField 
* Overrides /framework/admin/thirdparty/chosen/chosen.css and /framework/admin/css/screen.css
*/

.field .chzn-container .chzn-results li.group-result {
	color: #333;
	font-size: 12px;
}

.field .chzn-container .chzn-results li.group-option {
	padding-left: 15px;
}